
header[data-testid="stHeader"] {
    display: none;
}

body {
    background-color: #CFD8DC;
}

.stApp {
    background-color: #CFD8DC;
}

html, body, p, span, div, label, h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

h1, h2, h3 {
    font-weight: 700;
    color: #000000 ;
}

.stSelectbox > div[data-baseweb="select"] > div {
    color: #607D8B;
}
